@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
html { font-family: 'Inter var', sans-serif; }
}
@media (prefers-color-scheme: dark) {
	:root {
        background: #292a2f;
        color: #fff;
	}
}
#wrap {
    width: 700px;
    margin: 0 auto;
}
img /* avatar properties */ {
    border-radius: 100%;
    height: 20%;
    width: 20%;
		margin-top: 0;
		margin: 25px;
}

div:nth-child(2) /* name */ {
    font-weight: bold;
    font-size: 38px;
		margin-left: 10px;
}

div:nth-child(3), div:nth-child(4), li /* other text */ {
    font-size: 20px;
    margin: 10px;
}

a, a:visited /* remove link decorations */ {
    text-decoration: none;
    position: relative;
}

ul /* remove list bullets, padding */ {
		list-style: none;
		padding: 0;
}
#telegram {
    color: #0088cc;
}
#telegram:after {
    background: #0088cc;
}
#tgchan {
    color: #5dc390;
}
#tgchan:after {
    background: #5dc390;
}
#vk {
	color: #4d7198
}
#vk::after {
	background: #4d7198
}
#mail {
    color: #d44638;
}
#mail:after {
    background: #d44638;
}
#donate {
	color: #ff6600
}
#donate::after {
	background: #ff6600
}
#tinkoff {
	color:#ffdd56;
}
#tinkoff:after {
	background:#ffdd56;
}
#qiwi {
	color:#FF8C00;
}
#qiwi:after {
	background:#FF8C00;
}
#yandex {
	color: #eb3323;
}
#yandex:after {
	background: #eb3323;
}
/* link underline animation */
a:after, a:visited:after {
    content: '';
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: 0.2s;
  }
  a:hover:after, a:visited:hover:after {
    width: 100%;
  }
