@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
html { font-family: 'Inter var', sans-serif; }


a,
a:hover {
    text-decoration: none;
    color: #5dc390;
}
a:focus {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.page_wrap {
  font-family: 'Inter', sans-serif;;
  color: #2b2d2e;
}
.page_wrap a,
.page_wrap a:hover,
.page_wrap a:active {
    color: #5dc390;
}

.page {
  margin: 82px auto 50px;
  max-width: 424px;
}
.page_photo {
  text-align: center;
  margin-top: -15px;
  margin-bottom: 15px;
}
.page_photo_image {
  width: 122px;
  height: 122px;
  border-radius: 61px;
}
.page_title {
  font-size: 26px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  max-width: 340px;
  padding: 0 10px;
  margin: 0 auto;
  color: #333;
}
.page_extra {
  font-size: 15px;
  line-height: 27px;
  text-align: center;
  margin-bottom: 6px;
  color: #808080;
}
.page_description {
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  max-width: 340px;
  padding: 0 10px;
  margin: 0 auto;
}
.page_description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 125px;
}
.page_action {
  text-align: center;
  margin-top: 32px;
  line-height: 0;
}
a.action_button_new {
  font-size: 14px;
  font-weight: bold;
  line-height: 100%;
  color: #FFF;
  background: #5dc390;
  border-radius: 22px;
  overflow: hidden;
  display: inline-block;
  padding: 15px 27px 13px;
  text-transform: uppercase;
}
a.action_button_new:hover,
a.action_button_new:active {
  color: #FFF;
  background: #5dc390;
  text-decoration: none;
}
a.action_button_new {
    background: #33d684;
}
a.action_button_new:hover,
a.action_button_new:active {
    background: #5dc390;
}


@media (max-width: 640px) {
  a:hover {
    text-decoration: none;
  }
}

@media (max-width: 480px) {

  .page {
    margin-top: 110px;
  }
  .page_photo_image {
    width: 110px;
    height: 110px;
    border-radius: 55px;
  }
}
